#menu {
    width: 400px;
}

.has_children {
    background: #555;
    color: #fff;
    cursor: pointer;
}

.highlight {
    color: #fff;
    background: green;
}

div {
    padding: 0;
    margin: 10px 0;
}

div a {
    background: #888;
    display: none;
    float: left;
    width: 400px;
}

/*test6 */
div,span,p {
    width: 140px;
    height: 140px;
    margin: 5px;
    background: #aaa;
    border: #000 1px solid;
    float: left;
    font-size: 17px;
    font-family: Verdana;
}

div.mini {
    width: 55px;
    height: 55px;
    background: #aaa;
    font-size: 12px;
}

div.hide {
    display: none;
}
